@model ForgotPasswordViewModel;

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="user-form">
    <div class="header-container">
        <h1>Kalam</h1>
    </div>

    <div class="user-form-container">
        <h4>We will send you an email with a link to reset your password.</h4>
        <h4>Enter your account email below!</h4>
        <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
            <input type="text" asp-for="Email" name="Email" placeholder="Email" />
            <small><span asp-validation-for="Email" class="field-error"></span></small>

            <input type="submit" value="Submit">

            <p>Don't have an account? Join us! <a asp-area="" asp-controller="User" asp-action="Register">Register</a>
            </p>
        </form>
    </div>
</div>