@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
}

<style>
    .action-input input[type='checkbox'] {
        width: 10%;
    }
</style>

<div class="user-form">
    <div class="header-container">
        <h1>Kalam</h1>
    </div>

    <div class="user-form-container">
        <h2>Login</h2>
        <form asp-controller="Auth" asp-action="Login" method="post">
            <label>Username</label>
            <input type="username" asp-for="Username" name="Username" placeholder="username" />
            <small><span asp-validation-for="Username" class="field-error"></span></small>
            <br />
            <label>Password</label>
            <input type="password" asp-for="Password" name="Password" placeholder="password" />
            <small><span asp-validation-for="Password" class="field-error"></span></small>

            <div class="action-input">
                <label for="rememberMe" style="float: left;">
                    <input type="checkbox" id="rememberMe" asp-for="RememberMe" name="RememberMe" />
                    Remember me
                </label>

                <label style="float: right;">
                    <a asp-controller="User" asp-action="ForgotPassword">Forgot Password?</a>
                </label>
            </div>

            <input type="submit" value="Login">

            <p>Join us! <a asp-area="" asp-controller="User" asp-action="Register">Register</a>
            </p>
        </form>
    </div>
</div>