@model UserViewModel;

@{
    ViewData["Title"] = "Login";
}

<style>
    .login {
        max-width: fit-content;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .login-form-container {
        width: 80%;
        margin: 10px auto;
    }

    form {
        text-align: left;
    }

    input {
        line-height: 1em;
        padding: 8px;
        margin-bottom: 10px;
        width: -webkit-fill-available;
    }

    .action-input input[type='checkbox'] {
        width: 10%;
    }

    p {
        text-align: center;
    }
</style>

<div class="login">
    <div class="header-container">
        <h1>Kalam</h1>
    </div>

    <div class="login-form-container">
        <h2>Login</h2>
        <form asp-controller="User" asp-action="Login" method="post">
            <label>Email</label>
            <input type="email" asp-for="Email" name="Email" placeholder="email" />
            <label>Password</label>
            <input type="password" asp-for="Password" name="Password" placeholder="password" />

            <div class="action-input">
                <label for="rememberMe" style="float: left;">
                    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">
                    Remember me
                </label>

                <label style="float: right;"><a href="">Forgot Password?</a></label>
            </div>

            <input type="submit" value="Login">

            <p>Join us! <a asp-area="" asp-controller="User" asp-action="Register">Register</a>
            </p>
        </form>
    </div>
</div>