@model ProfileViewModel;

@{
    ViewData["Title"] = "Imadh Nizar | Kalam.ink";
}

<style>
    a.active {
        border-bottom: solid 2px var(--anchor-border-bottom-colour);
    }

    a:hover {
        border-bottom: solid 1px var(--anchor-border-bottom-colour);
    }

    .nav-toggle,
    #nav-more-toggle {
        display: none;
    }

    .profile-navbar a {
        text-decoration: none;
        color: var(----font-colour);
    }

    @@media (max-width:480px) {
        .profile-navbar ul li:nth-child(n+3) {
            display: none;
        }

        .profile-navbar ul li.nav-more-item {
            display: list-item;
        }

        #nav-more-toggle:checked~ul li:nth-child(-n+2) {
            display: none;
        }

        #nav-more-toggle:checked~ul .nav-more-item {
            display: none;
        }

        #nav-more-toggle:checked~ul li:nth-child(n+3):not(.nav-more-item):not(.nav-back-item) {
            display: list-item;
        }

        #nav-more-toggle:checked~ul .nav-back-item {
            display: list-item;
        }
    }

    .profile-pages,
    .profile-pages:target~#dashboard {
        display: none;
    }
    
    #dashboard,
    .profile-pages:target {
        display: block;
    }

    .profile-pages {
        padding: 12px 20px;
    }
</style>

@if (Model.ActiveTab != null)
{
    <style>
        .profile-pages {
            display: none;
        }

        .profile-pages:target {
            display: block;
        }
    </style>
}

<div class="profile-header" style="display: flex; justify-content: space-between; padding:2rem;">
    <h2>Imadh Nizar</h2>
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <p><a href="~/Auth/Logout">Logout</a></p>
    }

    <p><a href="~/Auth/Logout">Logout</a></p>
</div>

<div class="profile-navbar">

    <input type="checkbox" id="nav-more-toggle">

    <ul style="list-style: none; display: flex; gap: 0; padding: 0.5rem;">
        <li><a href="#dashboard" class="profile-nav-menu active" style="padding: 12px 20px;">Dashboard</a></li>
        <li><a href="#blogs" class="profile-nav-menu" style="padding: 12px 20px;">Blogs</a></li>
        <li><a href="#bookmark" class="profile-nav-menu" style="padding: 12px 20px;">Bookmarks</a></li>
        <li><a href="#settings" class="profile-nav-menu" style="padding: 12px 20px;">Settings</a></li>

        <li class="nav-more-item nav-toggle">
            <label for="nav-more-toggle">
                <a style="padding: 12px 20px;">More &rsaquo;</a>
            </label>
        </li>

        <li class="nav-back-item nav-toggle">
            <label for="nav-more-toggle">
                <a style="padding: 12px 20px;">&lsaquo; Back</a>
            </label>
        </li>
    </ul>
</div>

<div id="blogs" class="profile-pages">
</div>
<div id="bookmark" class="profile-pages">
</div>
<div id="settings" class="profile-pages">
    <partial name="_Settings.cshtml" for="@Model.SettingsViewModel" />
</div>
<div id="dashboard" class="profile-pages">
    <partial name="_Dashboard.cshtml" />
</div>

<script>
    const navItems = document.querySelectorAll('.profile-nav-menu');

    navItems.forEach(item => {
        item.addEventListener('click', function () {
            navItems.forEach(li => li.classList.remove('active'));
            
            this.classList.add('active');
        });
    });
</script>