@model UserViewModel;
@{
    ViewData["Title"] = "Register";
}

<style>
    .register {
        max-width: fit-content;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .register-form-container {
        width: 50%;
        margin: 10px auto;
    }

    form {
        text-align: left;
    }

    input {
        line-height: 1em;
        padding: 8px;
        margin-bottom: 10px;
        width: -webkit-fill-available;
    }

    .action-input {
        text-align: left;
        width: 60%;
    }

    .action-input input[type='checkbox'] {
        width: 10%;
    }

    p {
        text-align: center;
    }
</style>

<div class="register">
    <div class="header-container">
        <h1>Kalam</h1>
    </div>

    <div class="register-form-container">
        <h2>Register</h2>
        <form asp-controller="User" asp-action="Register" method="post">
            <label>Email</label>
            <input type="email" asp-for="Email" name="Email" placeholder="email" />
            <label>Password</label>
            <input type="password" asp-for="Password" name="Password" placeholder="password" />
            <label>Confirm Password</label>
            <input type="password" name="c_password" placeholder="confirm password" />
            <input type="submit" value="Register">

            <p>Already have an account? <a asp-area="" asp-controller="User" asp-action="Login">Login</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <script>
    </script>
}