@using Microsoft.AspNetCore.Components.Forms
@model UserViewModel;
@{
    ViewData["Title"] = "Register";
}

<style>
    .register {
        max-width: 800px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .register-form-container {
        width: 50%;
        margin: 10px auto;
    }

    form {
        text-align: left;
    }

    input {
        line-height: 1em;
        padding: 8px;
        margin-bottom: 2px;
        width: -webkit-fill-available;
    }

    input[type="submit"] {
        margin-top: 10px;
    }

    p {
        text-align: center;
    }
</style>

<div class="register">
    <div class="header-container">
        <h1>Kalam</h1>
    </div>

    <div class="register-form-container">
        <h2>Register</h2>
        <form asp-controller="User" asp-action="Register" method="post">
            <label>Email</label>
            <input type="email" asp-for="Email" name="Email" placeholder="email" />
            <small><span asp-validation-for="Email" class="field-error"></span></small>
            <br />
            <label>Username</label>
            <input type="username" asp-for="Username" name="Username" placeholder="username" />
            <small><span asp-validation-for="Username" class="field-error"></span></small>
            <br />
            <label>Password</label>
            <input type="password" asp-for="Password" name="Password" placeholder="password" />
            <small><span asp-validation-for="Password" class="field-error"></span></small>
            <br />
            <label>Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" placeholder="confirm password" />
            <small><span asp-validation-for="ConfirmPassword" class="field-error"></span></small>
            <br />
            <input type="submit" value="Register">

            <p>Already have an account? <a asp-area="" asp-controller="User" asp-action="Login">Login</a></p>
        </form>
    </div>
</div>