<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kalam_blog</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
</head>

<body>
    <main>
        @RenderBody()
    </main>

    <footer>
        <div>
            <p><i>Built by Kalam</i></p>
        </div>
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>&nbsp;
            <a asp-area="" asp-controller="Home" asp-action="Documentation">Documentation</a>&nbsp;
            <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>&nbsp;
            <a href="https://github.com/imadhnm/kalam" target="_blank">Github</a>&nbsp;
            @* <a asp-area="" asp-controller="Home" asp-action="Terms of Service">Terms of Service</a> *@
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>