:root {
  --font-face: "Arial, sans-serif";
  --font-face-body: "Tahoma, sans-serif";
  --width: 100%;
  --font-size: 1em;
  --background-colour-code: #eeeeee;
  --font-colour: #1e201e;
  --link-colour: #6367ff;
  --link-visited-colour: #8494ff;
  --max-width: 1336px;
  --button-colour: #4477ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour-code: #1e201e;
    --font-colour: #f1f6f9;
    --link-colour: #6367ff;
    --link-visited-colour: #90b8f8;
    --button-colour: #4477ce;
  }
}

body {
  font-family: var(--font-face-body);
  font-size: var(--font-size);
  background-color: var(--background-colour-code);
  color: var(--font-colour);
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: auto;
  /* padding: 20px; */
  /* max-width: var(--max-width); */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-face);
}

a {
  color: var(--link-colour);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  line-height: 1.5;
}

footer {
  padding: 25px 0;
  text-align: center;
}

input {
  border: 1px solid;
  border-radius: 4px;
}

button,
input[type="submit"] {
  background-color: var(--button-colour);
  border-color: var(--button-colour);
}
