@using Microsoft.AspNetCore.Components.Forms
@model UserViewModel;

@{
    ViewData["Title"] = "Register";
}

<style>
    input[type="submit"] {
        margin-top: 10px;
    }
</style>

<div class="user-form">
    <div class="header-container">
        <h1>Kalam</h1>
    </div>

    <div class="user-form-container">
        <h2>Register</h2>
        <form asp-controller="Auth" asp-action="Register" method="post">
            <label>Email</label>
            <input type="email" asp-for="Email" name="Email" placeholder="email" />
            <small><span asp-validation-for="Email" class="field-error"></span></small>
            <br />
            <label>Username</label>
            <input type="username" asp-for="Username" name="Username" placeholder="username" />
            <small><span asp-validation-for="Username" class="field-error"></span></small>
            <br />
            <label>Password</label>
            <input type="password" asp-for="Password" name="Password" placeholder="password" />
            <small><span asp-validation-for="Password" class="field-error"></span></small>
            <br />
            <label>Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" placeholder="confirm password" />
            <small><span asp-validation-for="ConfirmPassword" class="field-error"></span></small>
            <br />
            <input type="submit" value="Register">

            <p>Already have an account? <a asp-area="" asp-controller="User" asp-action="Login">Login</a></p>
        </form>
    </div>
</div>