@model ResetPasswordViewModel;

@{
    ViewData["Title"] = "Forgot Password";
}

<div class="user-form">
    <div class="header-container">
        <h1>Kalam</h1>
    </div>

    <div class="user-form-container">
        <h2>Reset Password</h2>
        <form asp-controller="Auth" asp-action="ResetPassword" method="post">
            <label>Enter New Password</label>
            <input type="password" asp-for="Password" name="Password" placeholder="Password" />
            <small><span asp-validation-for="Password" class="field-error"></span></small>

            <label>Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" />
            <small><span asp-validation-for="ConfirmPassword" class="field-error"></span></small>

            <input type="submit" value="Submit">

            <p>Don't have an account? Join us! <a asp-area="" asp-controller="User" asp-action="Register">Register</a>
            </p>
        </form>
    </div>
</div>